body, html {
    height: 100%;
}

.app {
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* ============ NAVBAR ============ */

.navbar {
    height: 60px;
    background-color: #e9ecef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo, .navbar-logo:link{
    text-decoration: none;
    color: #1dafe9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    font-size: 21px;
    transition: 0.3s ease;
}

.navbar-logo:hover, .navbar-logo:active{
    text-decoration: none;
    font-weight: bold;
    color: #178fbe;
    cursor: pointer;
}

.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 15px;
}

.navbar-link, .navbar-link:link{
    text-decoration: none;
    font-size: 21px;
    color: #1dafe9;
    cursor: pointer;
    transition: 0.3s ease;
    width: 3rem;
}

.navbar-link:hover, .navbar-link:active{
    text-decoration: none;
    font-weight: bold;
    color: #178fbe;
    cursor: pointer;
}

/* ============ HOME ============ */

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 2fr));
    width: 89%;
    gap: 10px;
    margin: 30px auto 0 auto;
    overflow-x: hidden;
    cursor: pointer;
}

.box, .box:link {
    background-color: #e9ecef;
    min-height: 270px;
    transition: tranform 1s;
    padding: 15px 10px;
    transition: 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover, .box:active {
    transform: translateY(-5px);
    background-color: #1dafe9;
    color: #fff !important;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.info-title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: inherit;
}

.info-subtitle{
    font-weight: bold;
    font-size: 18px;
    color: #444;
    color: inherit;
}

.info-description {
    font-size: 16px;
    color: inherit;
    text-align: center;
    margin-top: 10px;
}